body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-small {
  font-size: small;
}

.w-85 {
  width: 85px;
}

#toasts-root {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toasts-container {
  position: relative;
  min-height: 200px;
}

.toasts-positioning {
  position: absolute;
  top: 20px;
  right: 20px;
}
